* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  color: black;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #ededed;
}
header,
footer {
  background-color: green;
  height: 6.25rem;
}
aside {
  background-color: darkorange;
  color: white;
}
h1 {
  color: orange;
}
p {
}
/* Header */
header {
  height: 400px;
  display: flex;
  flex-flow: column;
  background-image: url(./backgrounds/background6.jpg);
}
.header {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.header-title {
  margin: 0;
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
  color: white;
  text-transform: uppercase;
}
.header-lema {
  text-align: center;
  color: #f6d200;
  font-size: 1.5rem;
  margin-top: 0;
  font-style: italic;
}
nav {
  padding: 1rem;
  color: black;
  background-color: orange;
}
/* Contents */
main {
  padding: 2rem;
}
.course {
  background-color: white;
  margin-bottom: 1rem;
}
.course a {
  color: black;
  text-decoration: none;
}
.course-content {
  padding: 0 4rem 2rem;
}
.course-content h2 {
  background-color: darkorange;
  color: black;
  padding: 2rem;
  text-align: center;
  margin: 0 -4rem 3rem;
}
/* Recent course */
.recent-title {
  color: black;
  font-size: 3rem;
  text-align: center;
}
.recent-card {
  margin-bottom: 1rem;
}
.recent-content {
  background-color: black;
  color: white;
  padding: 3rem;
}
.recent-content h2 {
  font-size: 3rem;
  font-weight: 300;
  margin: 0;
  text-transform: capitalize;
}
.recent-info {
  font-weight: bold;
}
.recent-info span {
  padding-right: 1.5rem;
}
.recent-text {
  margin: 1rem 0;
}
.recent-content a {
  color: white;
  font-weight: bold;
}
/* Downloads */
.downloads-card {
  margin-bottom: 1rem;
}
.downloads-content {
  background-color: white;
}
.downloads-content a {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: capitalize;
}
.downloads-content a i {
  font-size: 2.5rem;
}
.downloads-info {
  padding: 1rem 2rem;
}
.downloads-info h4 {
  margin: 0;
}
.downloads-info p {
  margin: 0;
  font-size: 0.9rem;
}
.downloads-users img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}
.downloads-stats {
  background-color: darkorange;
  padding: 1rem 2rem;
  color: black;
  font-size: .9rem;
}
.downloads-stats .rate {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: -.25rem;
}

/* Media queries */
@media screen and (min-width: 810px) {
  .courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .course {
    flex-basis: 49%;
  }
}
@media screen and (min-width: 1120px) {
  .area {
    display: flex;
  }
  aside {
    flex: 0 0 32rem;
  }
  .header-title {
    font-size: 5rem;
  }
  .courses-three {
    flex-basis: 32%;
  }
  .courses-two {
    flex-basis: 49%;
  }
  .courses-one {
    flex-basis: 100%;
  }
}
